{% extends "./base.html" %}
{% load static %}

{% block content %}


<div>
    <p class="signup-title">저랑 친구해요<i class="fas fa-child"></i><br>별명을 제외한 모든 정보는 저와 가입자만 볼 수 있습니다.</p>
    <form action="{% url 'users:signup' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            {{ form }}
        </table>
        <button class="signup-btn" type="submit">
            <p>가입하기</p>
            <i class="far fa-handshake fa-2x"></i>
        </button>
    </form>
</div>
{% endblock %}

<script>
    window.onload = function () {
        var textarea = document.getElementsByTagName("textarea");

        textarea.addEventListener("click", function () {
            textarea.value = '';
        })

    }
</script>