{% load static %}
<section class="row tm-pt-4 tm-mb-3">
    <div class="col-12 tm-page-cols-container">
        <div class="tm-page-col-right tm-form-container sign-container">
            <h2 class="tm-text-secondary mb-4 mypage_title">
                제 동료가 맞으신가요~~? <br />로그인하거나 가입하면 접근할 수 있어요<i class="fas fa-hand-sparkles"></i>
            </h2>
            <h2 class="log_btns">
                <a href="{% url 'users:login' %}" class="log_btn_text">동료예용<br />(sign-in)</a>
                <a href="{% url 'users:signup' %}" class="log_btn_text">동료가 되고 싶어용<br />(sign-up)</a>
            </h2>
        </div>
    </div>
</section>