{% load static %}
<section class="row tm-pt-4 tm-mb-3">
    <div class="col-12 tm-page-cols-container">
        <div class="tm-page-col-left mypage_sidebar">
            <div class="tm-contact-container tm-mb-6">
                <div class="tm-address-container">
                    <h2 class="tm-text-secondary tm-mb-6 mypage_title">콩돌과의 관계<div class="trans_eng">Relationship</div>
                    </h2>
                    <address>
                        <p class="user-info">
                            <strong>{{ user.relation }}</strong>
                        </p>
                    </address>
                </div>

                <div class="tm-location-container">
                    <h2 class="tm-text-secondary tm-mb-4 mypage_title">콩돌씨를 어디서 어떻게 만났나요<div class="trans_eng">Where did
                            we meet first
                        </div>
                    </h2>
                    <p class="user-info">{{ user.home }}<br />
                        {{ user.location }}
                    </p>
                </div>
            </div>
        </div>
        <div class="tm-page-col-right tm-form-container">
            <h2 class="tm-text-secondary mb-4 mypage_title">
                너의 정보
                <a href="{% url 'account_logout' %}" class="log_btn_text">로그아웃</a>
                <div class="trans_eng">About You</div>
            </h2>
            <div class="user-info">
                닉네임은 {{ user.nickname }}<br />나이는 블라인드ㅎㅎ<br />콩돌과 {{user.time}}부터 소통을 시작하는 중 </div>
        </div>
    </div>
</section>