{% extends "main/base.html" %}

{% load static %}

{% block content %}

<!-- 페이지 설명과ㅏ 사진있는 파트 -->
{% include './music_shared/picpart.html' %}
<!-- 페이지 설명과ㅏ 사진있는 파트 끝 -->

<section class="row tm-pt-4 tm-pb-6">
    <div class="col-12 tm-tabs-container tm-page-cols-container">
        <!-- 음약 메뉴 파트들 -->
        {% include './music_shared/menu.html' %}
        <!-- 음약 메뉴 파트들 -->

        <div class="tm-page-col-right tm-tab-contents" style="border-bottom: solid 5px #a0c0c0;">
            <div id="first-tab-group" class="tabgroup">
                <div id="tab1">
                    <div class="text-content">
                        <h3 class="tm-text-secondary tm-mb-5" style="border-bottom: solid 5px #a0c0c0;">
                            {{unit_song.title}}
                        </h3>
                        <p class="tm-mb-5">
                            가수: {{unit_song.singer}}
                        </p>
                        <p class="tm-mb-5">
                            장르: {{unit_song.genre}}
                        </p>
                        <p class="tm-mb-5">
                            가사: {{unit_song.lyrics}}
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'index:music' %}">
                <button class="menu-btn">
                    목록으로 << </button>
            </a>
        </div>
    </div>
</section>

{% include './music_shared/script.html' %}

{% endblock %}