<script>
    // $(function () {
    //     $(".tab1").click(function (e) {
    //         $("#id").css("color", "red");
    //         $("tab1 > div").show();
    //         $("tab2 > div").hide();
    //         $("tab3 > div").hide();
    //     });

    //     $(".tab2").click(function (e) {
    //         $("tab1 > div").hide();
    //         $("tab2 > div").show();
    //         $("tab3 > div").show();
    //     });

    //     $(".tab3").click(function (e) {
    //         $("tab1 > div").hide();
    //         $("tab2 > div").hide();
    //         $("tab3 > div").show();
    //     });

    // });

</script>