.tm-bg-gradient-error{
    background: linear-gradient( 135deg, #9ec1cf 0%, #a5cbda 100% );
}

.error_list{
    padding: 2% 0 2% 3%; /*상우하좌*/
    border-radius: 20px 0 0 20px; /* 왼위 오위 오밑 왼밑 왼위부터 시계방향*/
}

.error-boarder{
    margin-top: 3%; 
}

.error-list-title{
    margin-bottom: 10px;
}

#error-tags{
    display: flex; align-items: center;
}

.edit-del-icons{
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
}

.edit-del-icons > i {
    margin-left: 5%;
}

hr {
    height: 3px;
    background-color:#a0c0c0;
    margin: 0;
}

.list-icon{
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
}
