/* .genre-option > option{
    color: red !important;
} */


#show-detail{
    color:#669999 ;
    font-weight: bold;
    font-style: italic;
}

.tm-mb-7 > input,textarea {
    width: 100% !important;
    border: solid 3px #cfd0d1ce;
}

input{
    padding: 5px 5px;
    font-size: 15px;
}

textarea{
    height: 200px;
    font-size: 15px;
}

.submit-btn {
    background-color: #a0c0c0; 
    border: white; 
    border-radius: 10%; 
    color: white; 
    float: right; 
    margin-bottom: 30px;
    width: 30%;
    font-size: 22px;
}

.tm-mb-7 {
    margin-bottom: 50px;
    color: #4d7e7e;
    font-size: 20px;
}

.genre-option{
    border: solid 3px #cfd0d1ce;
}

.tm-mb-8 {
    font-family: 'Grandpa_sharing' !important;
    font-size: 30px;
}

.menu-btn{
    background-color: #a0c0c0; 
    border: white; 
    border-radius: 10%; 
    color: white; 
    float: right; 
    margin-bottom: 30px;
    width: 20%;
    font-size: 20px;
}