.log_btn_text{
    border: #8586AB dotted 3px;    
    border-radius: 10px;
    margin: 5px;
    font-family: 'Grandpa_sharing' !important;
    color: rgba(147, 148, 189, 1);
    width: 50%;
    text-align: center;
}

.trans_eng{
    color: rgba(147, 148, 189, 0.6);
}

.tm-bg-gradient-mypage{
    background: linear-gradient( 135deg, #9394BD 0%, #8586AB 100% );
}

.mypage_sidebar{
    border-right: rgba(147, 148, 189, 0.3) solid 3px;
}

.mypage_title {
    border-radius: 10px;
    font-family: 'Grandpa_sharing';
    color: rgba(147, 148, 189, 1);
    text-align: center;
}

.log_btns{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-container{
    display:flex;
    flex-direction: column;
}

/* 회원가입 페이지 */
.explain{
    padding-bottom: 2vmin;
    color: grey;
}

.signup-title{
    text-align: center;
    border-bottom: solid rgba(90, 89, 87, 0.507);
    margin-bottom: 5vmin;
    padding-bottom: 2vmin; /*선 위*/
    font-family: 'Grandpa_sharing';
    font-size: 3.5vmin;
}

.signup-btn{
    color: white;
    width: 100%;
    border-radius: 5px;
    background-color: #9394BD;
    border: 0;
    outline: 0;
    height: 4.0485vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.signup-btn>p{
    margin: 0;
}

.login-btn{
    margin-top: 9px;
}

/* 상세페이지 */
.user-info{
    text-align: center !important;
}