@media (max-width:767px) {
    .mypage_title {
        font-size: 6vw;
    }
  
    .mypage_title {
     font-size: 5vw;
     max-width: 50%;
     margin: 3%; /* 블럭끼리 */
     padding: 5%; /*블럭내부*/
     font-family: 'Grandpa_sharing';
     color: #8586AB;
     text-align: center;
    }
 
    .log_btn_text{
     border: #8586AB dotted 3px;    
     border-radius: 10px;
     margin: 5px;
     font-family: 'Grandpa_sharing' !important;
     color: rgba(147, 148, 189, 1);
 }
 }
 
 @media (min-width:1024px){
     .mypage_title {
         font-size: 6vw;
     }
   
     .mypage_title {
      font-size: 5vw;
      max-width: 50%;
      margin: 3%; /* 블럭끼리 */
      padding: 5%; /*블럭내부*/
      font-family: 'Grandpa_sharing';
     color: #8586AB;
     text-align: center;
     }
     .log_btn_text{
         border: #8586AB dotted 3px;    
         border-radius: 10px;
         margin: 5px;
         font-family: 'Grandpa_sharing' !important;
         color: rgba(147, 148, 189, 1);
     }
 }

.trans_eng{
    color: rgba(147, 148, 189, 0.6);
}

.tm-bg-gradient-mypage{
    background: linear-gradient( 135deg, #9394BD 0%, #8586AB 100% );
}

.mypage_sidebar{
    border-right: rgba(147, 148, 189, 0.3) solid 3px;
}

.mypage_title {
    border: #8586AB dotted 3px;    
    border-radius: 10px;
    font-family: 'Grandpa_sharing' !important;
    color: rgba(147, 148, 189, 1);
    text-align: center;
}

.log_btns{
    display: flex;
    justify-content: center;
}

.sign-container{
    display:flex;
    flex-direction: column;
}



